.box{
    align-items: center;
    text-align: center;
    height: 100vh;
    font-family: 'NotoSansKR';
}
.currentPage{
    width: 280px;
    margin-top: 10px;
}
.swiperPosition{
    margin: 100px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.swiper{
    animation: fadein 1s ease-in-out;
}
@keyframes fadein{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.imgBox{
    display: flex;
    justify-content : center;
}
.imagespace{
    width: 550px;
    min-width: 300px;
    height : 450px;
    background: #C6DDFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
    font-size: 17px;
    box-shadow: 20px 20px 4px rgba(168, 208, 255, 0.25);
}
.button{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    background: #1E84FD;
    color: white;
    border: none;
    box-shadow: 0px 4px 4px rgba(24, 30, 68, 0.25);
    border-radius: 15px;
    &:hover{
        background: #0073fe;
    }
    &:disabled{
        background: #9dc7f9;
    }
}
.modalButton{
    width: 140px;
    height: 40px;
    background: white;
    color: #0073fe;
    border: none;
    border-radius: 15px;
    &:hover{
        background: #0073fe;
        color: white;
    }
}
.inputStyle{
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border: 3px solid #7db5f8;
    border-radius : 10px;
    padding: 7px 7px;
    &:focus{
        border: 3px solid #0073fe;
    }
}
